<h1>Boards</h1>
<div class="ui padded grid">
  <% @boards.each do |board| %>
    <div class="ui raised padded segment">
      <div class="four wide column">
        <%= link_to board.name, board %>
      </div>
    </div>
  <% end %>
</div>
